
// color

:root{

    // Primary
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);

    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    //fonts
    --font-DM-serif: 'DM Serif Display', serif;
    --font-karla: 'Karla', sans-serif;
    --font-regular: 400;
    --font-bold: 700;
}
  
//funtion that convert pexel to rem
@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}
